*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
}

body {
    height: 100%;
    background: linear-gradient(135deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%) no-repeat;
}

hr {
    height: 2px;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;

}

.header {
    width: 100%;
    /* height: 100px; */
    background-color: #333;
    
    
}

.header__nav {
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* .header_block {
    width: 300px;
    height: 50px;
    background-color: white;
} */

.icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.header__title {
    font-size: 30px;
    line-height: 1;
    color: white;
}

.qrgen__content {
    padding: 25px;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    justify-content: space-between;
    flex-wrap: wrap;
    /* max-height: 815px;
    margin: auto 0; */
    height: 100vh;
    align-content: center
}

.qrgen__settings {
    width: 650px;
    height: 415px;
    background: rgba(255, 255, 255, 0.6);
    border: 5px solid #333333;
    border-radius: 10px;
    padding: 15px 45px 45px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qrgen__settings_title {
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.accordion__qrgen{
    display: flex;
    height: 295px;
    flex-direction: column;
    justify-content: space-between;
}

.accordion__item {
    margin-bottom: 20px;
    position: relative;
    /* background-color: white; */
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__item-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    
}

.accordion__item-trigger {
    padding: 0 15px;
    /* padding-top: 5px; */
    border: 5px solid #333333;
    border-radius: 10px;
    display: block;
    background-color: white;
    cursor: pointer;
    height: 45px;
    
}

.accordion__item-content {
    padding: 15px;
    padding-top: 0;
    border: 5px solid #333333;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: none;
    height: 115px;
    background-color: white;
}

.accordion__item-input:checked ~ .accordion__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accordion__item-input:checked ~ .accordion__item-trigger {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.label-text {
    font-size: 20px;
    align-items: center;
}

.qrgen-linktext {
    font-size: 20px;
    font-weight: normal;

}

#qrCodeText {
    width: 100%;
    height: 58px;
    resize: none;
    border: 2px solid #333333;
    border-radius: 5px;
    line-height: 1;
    font-size: 15px;
    padding: 5px;
}

.color__flex {
    display: flex;
}

.color-bg {
    width: 50%;
    margin-right: 15px;
}

.color-bg:last-child {
    margin-right: 0;
}

.input__color-qrgen {
    width: 100%;
    height: 35px;
    border: none;
    background: none;
    /* border-radius: 10px; */
}

.qr__options {
    display: flex;
}

.qr__options-item {
    width: 50%;
    margin-right: 15px;
}

.qr__options-item:last-child {
    margin-right: 0;
}

.select__option {
    width: 100%;
    border: 2px solid #333333;
    border-radius: 5px;
    /* line-height: 1; */
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
}
























.qrgen__result {
    width: 385px;
    height: 415px;
    background: rgba(255, 255, 255, 0.6);
    border: 5px solid #333333;
    border-radius: 10px;
    padding: 45px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    position: relative;
}

.qrgen__result_title {
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
}

.qrgen__result_ended {
    width: 295px;
    height: 295px;
    background: rgba(255, 255, 255, 1.8);
    border: 5px solid #333333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genqr-button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    height: 35px;
    transform: translateX(-50%);
    display: inline-block;
    color: white;
    border: 2px solid #333333;
    padding: 0px 15px;
    border-radius: 10px;
    font-family: 'Koulen';
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%) no-repeat;
  }

.qr {
    width: 350px;
    height: 350px;
}

.qrgen__info {
    width: 1060px;
    height: 325px;
    background: rgba(255, 255, 255, 0.6);
    border: 5px solid #333333;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center
}

.qrgen__info__block {
    width: 970px;
    height: 235px;
    background: #FFFFFF;
    border: 5px solid #333333;
    border-radius: 10px;
    padding: 25px;
}

.qrgen__info__block-title {
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 5px;
}

.qrgen__info__block-subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    max-width: 920px;
}









.footer {
    width: 100%;
    height: 60px;
    background-color: #333;
}


@media (max-width: 1920px) {
    .qrgen__content {
        height: 100%;
    }
}